<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="LTTng"
            id="org.eclipse.linuxtools.tmf.stateflow.ui">
      </category>
      <view
            name="Execution Flow View"
            icon="icons/sample.gif"
            category="org.eclipse.linuxtools.tmf.stateflow.ui"
            class="org.eclipse.linuxtools.tmf.stateflow.ui.views.stateflow.ExecutionFlowView"
            id="org.eclipse.linuxtools.tmf.stateflow.ui.views.stateflow.ExecutionFlowView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.eclipse.linuxtools.tmf.stateflow.ui.views.stateflow.ExecutionFlowView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
    <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetype">
      <type
            category="org.eclipse.linuxtools.tmf.ui.category.ctf"
            event_type="org.eclipse.linuxtools.tmf.core.ctfadaptor.CtfTmfEvent"
            icon="icons/sample.gif"
            id="org.eclipse.linuxtools.tmf.stateflow.tracetype"
            name="%tracetype.type.execution"
            trace_type="org.eclipse.linuxtools.tmf.stateflow.core.trace.CtfExecutionTrace">
         <eventsTableType
               class="org.eclipse.linuxtools.internal.tmf.stateflow.ui.viewers.events.ExecutionFlowEventsTable">
         </eventsTableType>
      </type>
   </extension>
    <extension 
         point="org.eclipse.linuxtools.tmf.ui.statesystemfactory">
         <type
         	id="org.eclipse.linuxtools.tmf.stateflow.datadrivenstate"         	
         	class="org.eclipse.linuxtools.internal.tmf.stateflow.core.stateprovider.DataDrivenStateInputFactory">
         </type>
    </extension>

</plugin>
